<?xml version="1.0" encoding="UTF-8"?>
<catalog name="MOGREPS-G: Met Office Open Data Catalogue"
         xmlns="http://www.unidata.ucar.edu/namespaces/thredds/InvCatalog/v1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.unidata.ucar.edu/namespaces/thredds/InvCatalog/v1.0
      http://www.unidata.ucar.edu/schemas/thredds/InvCatalog.1.0.6.xsd">

    <!-- url path to match with bucket/key in aws -->
    {% for dataset_name in dataset_names %}
    <catalogRef xlink:title="{{dataset_name}}" xlink:href="{{dataset_name}}.xml" name="{{dataset_name}}"/>
    
    {% endfor %}
</catalog>